<div class="layout">
  <div class="wrap">
    <div class="tem_header clearfix">
      <% if user_signed_in? %>
        <ul>
          <li><%= link_to current_user.name, edit_user_registration_path %></li>
          <li><%= link_to "구매대행신청", new_buy_path, class: "button" %></li>
          <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
          <li><%= link_to "HOME", root_path %></li>
        </ul>        
      <% else %>
        <ul>
          <li><%= link_to "Sign In", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path, class: "button" %></li>
        </ul>
      <% end %>
    </div>

    <div class="tem_visual">
      <% if user_signed_in? %>
        Hello, <%= current_user.name %>
        How are you TODAY? :D
      <% else %>
        Welcome Everyone :D
      <% end %>
    </div>

    <% @buys.each do |buy| %>
      <% if buy.user == current_user %>
        <div class="tem_ctnbox clearfix">
          <%= link_to (image_tag buy.buy_image.url(:small)), buy %>
          <h2><%= link_to buy.title, buy %></h2>
          <h3>Shared by <%= buy.user.name %></h3>
        </div>
      <% end %>
    <% end %>
    

  </div>
</div>