<div class="layout">
  <div class="wrap">
    <div class="tem_header clearfix">
      <% if user_signed_in? %>
        <ul>
          <li><%= link_to current_user.name, edit_user_registration_path %></li>
          <% if current_user.try(:admin?) %>
            <li><%= link_to "Add New Post", new_post_path, class: "button" %></li>
          <% end %>
          <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
        </ul>        
      <% else %>
        <ul>
          <li><%= link_to "Sign In", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path, class: "button" %></li>
        </ul>
      <% end %>
      <ul>
        <li><a href="/buys">구매대행</li>
          <li><a href="#n">배송대행</a></li>
      </ul>
    </div>

    <div class="tem_visual">
      <% if user_signed_in? %>
        Hello, <%= current_user.name %>
        How are you TODAY? :D
      <% else %>
        Welcome Everyone :D
      <% end %>
      
      <% if current_user.try(:admin?) %>
        <p>This is for only Admin</p>
      <% end %>

    </div>



    <% @posts.each do |post| %>
      <div class="tem_ctnbox clearfix">
        <%= link_to (image_tag post.image.url(:small)),post %>
        <h2><%= link_to post.title, post %></h2>
        <h3>Shared by <%= post.user.name %></h3>
        <p><%= post.comments.count %> Comments</p>
        <p><%= post.get_likes.size %> Likes</p>
        <% if current_user.try(:admin?) %>
          <%= link_to "EDIT", edit_post_path(post) %>
          <%= link_to "DELETE", post_path(post), method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
      </div>
    <% end %>


  </div>
</div>